body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2116px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u17397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  display:flex;
}
#u17397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17398 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:138px;
  width:300px;
  height:170px;
  display:flex;
}
#u17398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:64px;
}
#u17400 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:147px;
  width:444px;
  height:64px;
  display:flex;
}
#u17400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:64px;
}
#u17401 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:147px;
  width:156px;
  height:64px;
  display:flex;
}
#u17401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:64px;
}
#u17402 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:147px;
  width:355px;
  height:64px;
  display:flex;
}
#u17402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#9E9E9E;
}
#u17403 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:161px;
  width:97px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#9E9E9E;
}
#u17403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#9E9E9E;
  text-align:left;
}
#u17404 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:161px;
  width:45px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#9E9E9E;
  text-align:left;
}
#u17404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:64px;
}
#u17405 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:147px;
  width:198px;
  height:64px;
  display:flex;
}
#u17405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u17406 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:169px;
  width:21px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:64px;
}
#u17407 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:147px;
  width:71px;
  height:64px;
  display:flex;
}
#u17407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#9E9E9E;
}
#u17408 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:161px;
  width:97px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#9E9E9E;
}
#u17408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#9E9E9E;
  text-align:left;
}
#u17409 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:161px;
  width:45px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#9E9E9E;
  text-align:left;
}
#u17409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#F85A00;
  text-align:left;
}
#u17410 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:161px;
  width:106px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#F85A00;
  text-align:left;
}
#u17410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#9E9E9E;
}
#u17411 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:161px;
  width:97px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#9E9E9E;
}
#u17411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17412 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:315px;
  width:45px;
  height:34px;
  display:flex;
}
#u17412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F85A00;
  text-align:left;
}
#u17413 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:369px;
  width:159px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F85A00;
  text-align:left;
}
#u17413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17414 {
  border-width:0px;
  position:absolute;
  left:1516px;
  top:85px;
  width:600px;
  height:414px;
}
#u17415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:38px;
}
#u17415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u17416 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:0px;
  width:146px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:38px;
}
#u17417 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
}
#u17418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:54px;
  height:22px;
  display:flex;
}
#u17418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:22px;
}
#u17419 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:38px;
  width:146px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:22px;
}
#u17420 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:38px;
  width:400px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:166px;
}
#u17421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:54px;
  height:166px;
  display:flex;
}
#u17421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:166px;
}
#u17422 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:60px;
  width:146px;
  height:166px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:166px;
}
#u17423 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:60px;
  width:400px;
  height:166px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:94px;
}
#u17424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:226px;
  width:54px;
  height:94px;
  display:flex;
}
#u17424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:94px;
}
#u17425 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:226px;
  width:146px;
  height:94px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:94px;
}
#u17426 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:226px;
  width:400px;
  height:94px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:94px;
}
#u17427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:54px;
  height:94px;
  display:flex;
}
#u17427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:94px;
}
#u17428 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:320px;
  width:146px;
  height:94px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:94px;
}
#u17429 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:320px;
  width:400px;
  height:94px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-style:normal;
}
#u17430 {
  border-width:0px;
  position:absolute;
  left:1516px;
  top:44px;
  width:118px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-style:normal;
}
#u17430 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17430_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17431 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:432px;
  width:388px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(247, 90, 1, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17432 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:486px;
  width:126px;
  height:31px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:283px;
}
#u17434 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:403px;
  width:255px;
  height:283px;
  display:flex;
}
#u17434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:183px;
}
#u17436 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:473px;
  width:183px;
  height:183px;
  display:flex;
}
#u17436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17437 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:434px;
  width:188px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17438 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:375px;
  width:84px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
