body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1438px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:771px;
}
#u11223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:771px;
  display:flex;
}
#u11223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11224_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:90px;
  height:5px;
}
#u11224 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:318px;
  width:87px;
  height:2px;
  display:flex;
}
#u11224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(249, 90, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11225 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:332px;
  width:115px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11225 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(249, 90, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11226 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:332px;
  width:115px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11226 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11227_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:90px;
  height:5px;
}
#u11227 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:318px;
  width:87px;
  height:2px;
  display:flex;
}
#u11227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(249, 90, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11228 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:332px;
  width:115px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11228 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11229_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:90px;
  height:5px;
}
#u11229 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:318px;
  width:87px;
  height:2px;
  display:flex;
}
#u11229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F95A00;
  text-align:center;
}
#u11230 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:515px;
  width:170px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F95A00;
  text-align:center;
}
#u11230 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u11231 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:784px;
  width:362px;
  height:175px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u11231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
