body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-65px;
  width:776px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12692 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:81px;
  width:776px;
  height:297px;
}
#u12693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12694 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u12695 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:138px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:30px;
}
#u12696 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:0px;
  width:438px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
  display:flex;
}
#u12697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12698 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:underline ;
  color:#02A7F0;
}
#u12698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u12699 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:138px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:30px;
}
#u12700 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:30px;
  width:438px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
  display:flex;
}
#u12701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12702 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:60px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:underline ;
  color:#02A7F0;
}
#u12702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u12703 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:60px;
  width:138px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:30px;
}
#u12704 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:60px;
  width:438px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:30px;
  display:flex;
}
#u12705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12706 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:90px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u12707 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:90px;
  width:138px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:30px;
}
#u12708 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:90px;
  width:438px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:50px;
  height:30px;
  display:flex;
}
#u12709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12710 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u12711 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:120px;
  width:138px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:30px;
}
#u12712 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:120px;
  width:438px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:30px;
  display:flex;
}
#u12713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12714 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:underline ;
  color:#02A7F0;
}
#u12714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u12715 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:150px;
  width:138px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:30px;
}
#u12716 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:150px;
  width:438px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:50px;
  height:30px;
  display:flex;
}
#u12717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u12718 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:180px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u12719 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:180px;
  width:138px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:30px;
}
#u12720 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:180px;
  width:438px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u12721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:50px;
  height:29px;
  display:flex;
}
#u12721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:29px;
}
#u12722 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:210px;
  width:150px;
  height:29px;
  display:flex;
  text-decoration:underline ;
  color:#02A7F0;
}
#u12722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:29px;
}
#u12723 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:210px;
  width:138px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:29px;
}
#u12724 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:210px;
  width:438px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u12725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:239px;
  width:50px;
  height:29px;
  display:flex;
}
#u12725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:29px;
}
#u12726 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:239px;
  width:150px;
  height:29px;
  display:flex;
  text-decoration:underline ;
  color:#02A7F0;
}
#u12726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:29px;
}
#u12727 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:239px;
  width:138px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:29px;
}
#u12728 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:239px;
  width:438px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u12729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:50px;
  height:29px;
  display:flex;
}
#u12729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:29px;
}
#u12730 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:268px;
  width:150px;
  height:29px;
  display:flex;
  text-decoration:underline ;
  color:#02A7F0;
}
#u12730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:29px;
}
#u12731 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:268px;
  width:138px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:29px;
}
#u12732 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:268px;
  width:438px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u12733 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:36px;
  width:127px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u12733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12733_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
