body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-38px;
  width:1504px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:686px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17241 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:39px;
  width:1121px;
  height:686px;
  display:flex;
}
#u17241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u17242 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:60px;
  width:61px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u17242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17242_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17243_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1079px;
  height:7px;
}
#u17243 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:93px;
  width:1075px;
  height:3px;
  display:flex;
}
#u17243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:36px;
}
#u17244 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:627px;
  width:301px;
  height:36px;
  display:flex;
}
#u17244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
  background:inherit;
  background-color:rgba(27, 179, 148, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17245 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:111px;
  width:104px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u17246 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:675px;
  width:104px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u17246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17247 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:60px;
  width:15px;
  height:15px;
  display:flex;
}
#u17247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u17251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u17251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:37px;
  display:flex;
}
.u17251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u17251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u17252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:1021px;
  height:25px;
}
.u17253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
}
.u17253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u17253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u17253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u17254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
}
.u17254 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:171px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u17254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u17254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u17255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
}
.u17255 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:0px;
  width:171px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u17255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u17255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u17256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
}
.u17256 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:0px;
  width:171px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u17256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u17256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u17257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
}
.u17257 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:0px;
  width:171px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u17257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u17257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u17258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:25px;
}
.u17258 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:0px;
  width:166px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u17258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u17258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17250-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:37px;
}
#u17250-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:1021px;
  height:37px;
}
#u17250-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:1021px;
  height:37px;
}
#u17250-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:1021px;
  height:37px;
}
#u17250-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:1021px;
  height:37px;
}
#u17250-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:185px;
  width:1021px;
  height:37px;
}
#u17250-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:222px;
  width:1021px;
  height:37px;
}
#u17250-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:259px;
  width:1021px;
  height:37px;
}
#u17250-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:296px;
  width:1021px;
  height:37px;
}
#u17250-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:333px;
  width:1021px;
  height:37px;
}
#u17250-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:370px;
  width:1021px;
  height:37px;
}
#u17250 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:197px;
  width:1021px;
  height:407px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u17259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17259 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:160px;
  width:1021px;
  height:37px;
  display:flex;
}
#u17259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17260 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:167px;
  width:1021px;
  height:22px;
}
#u17261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
}
#u17261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
}
#u17262 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:171px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
}
#u17263 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:0px;
  width:171px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:22px;
}
#u17264 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:0px;
  width:168px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u17265 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:0px;
  width:170px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u17266 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:0px;
  width:170px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u17267 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:39px;
  width:129px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u17267 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17267_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17268 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:141px;
  width:254px;
  height:110px;
}
#u17269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u17270 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:152px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u17271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u17272 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:152px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u17273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u17274 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:70px;
  width:152px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17275 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:287px;
  width:329px;
  height:70px;
}
#u17276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u17277 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:233px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u17278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u17279 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:233px;
  height:40px;
  display:flex;
}
#u17279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17280 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:100px;
  width:108px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17280_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17281 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:251px;
  width:112px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
