body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2197px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13558 {
  border-width:0px;
  position:absolute;
  left:1467px;
  top:87px;
  width:730px;
  height:188px;
}
#u13559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u13559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
}
#u13560 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:214px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:30px;
}
#u13561 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:0px;
  width:468px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:158px;
}
#u13562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:48px;
  height:158px;
  display:flex;
  font-size:16px;
}
#u13562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:158px;
}
#u13563 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:30px;
  width:214px;
  height:158px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:158px;
}
#u13564 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:30px;
  width:468px;
  height:158px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u13565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  display:flex;
}
#u13565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13566 label {
  left:0px;
  width:100%;
}
#u13566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u13566 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:281px;
  width:224px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13566 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u13566_img.selected {
}
#u13566.selected {
}
#u13566_img.disabled {
}
#u13566.disabled {
}
#u13566_img.selectedDisabled {
}
#u13566.selectedDisabled {
}
#u13566_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:208px;
  word-wrap:break-word;
  text-transform:none;
}
#u13566_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13567 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:270px;
  width:172px;
  height:45px;
  display:flex;
}
#u13567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13568_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:81px;
  height:31px;
}
#u13568 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:235px;
  width:65px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(130.093870817901deg);
  -moz-transform:rotate(130.093870817901deg);
  -ms-transform:rotate(130.093870817901deg);
  transform:rotate(130.093870817901deg);
}
#u13568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13569_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:84px;
  height:31px;
}
#u13569 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:236px;
  width:68px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u13569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  color:#D9001B;
}
#u13570 {
  border-width:0px;
  position:absolute;
  left:1467px;
  top:36px;
  width:161px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  color:#D9001B;
}
#u13570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13571 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:488px;
  width:172px;
  height:32px;
  display:flex;
}
#u13571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13572_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:263px;
  height:31px;
}
#u13572 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:408px;
  width:247px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(137.540612755152deg);
  -moz-transform:rotate(137.540612755152deg);
  -ms-transform:rotate(137.540612755152deg);
  transform:rotate(137.540612755152deg);
}
#u13572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u13573 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:386px;
  width:253px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u13573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
