body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1909px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:594px;
}
#u14144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:594px;
  display:flex;
}
#u14144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14145 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:41px;
  width:601px;
  height:326px;
}
#u14146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
}
#u14146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u14147 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:0px;
  width:159px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:30px;
}
#u14148 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:148px;
}
#u14149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:41px;
  height:148px;
  display:flex;
}
#u14149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:148px;
}
#u14150 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:30px;
  width:159px;
  height:148px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:148px;
}
#u14151 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:401px;
  height:148px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:148px;
}
#u14152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:41px;
  height:148px;
  display:flex;
}
#u14152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:148px;
}
#u14153 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:178px;
  width:159px;
  height:148px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:148px;
}
#u14154 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:178px;
  width:401px;
  height:148px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u14155 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:10px;
  width:96px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u14155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
