body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:534px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:198px;
  display:flex;
}
#u4818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:170px;
  height:54px;
  display:flex;
}
#u4819 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4819_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:284px;
  width:261px;
  height:90px;
  display:flex;
}
#u4820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4820_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:243px;
}
#u4821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:424px;
  width:452px;
  height:243px;
  display:flex;
}
#u4821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4822_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:105px;
}
#u4822 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:378px;
  width:5px;
  height:89px;
  display:flex;
  -webkit-transform:rotate(-12.4780504078894deg);
  -moz-transform:rotate(-12.4780504078894deg);
  -ms-transform:rotate(-12.4780504078894deg);
  transform:rotate(-12.4780504078894deg);
}
#u4822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4823_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:121px;
}
#u4823 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:373px;
  width:5px;
  height:105px;
  display:flex;
  -webkit-transform:rotate(-6.20506982159781deg);
  -moz-transform:rotate(-6.20506982159781deg);
  -ms-transform:rotate(-6.20506982159781deg);
  transform:rotate(-6.20506982159781deg);
}
#u4823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4824_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-3px;
  width:31px;
  height:152px;
}
#u4824 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:358px;
  width:5px;
  height:136px;
  display:flex;
  -webkit-transform:rotate(-39.1313799403822deg);
  -moz-transform:rotate(-39.1313799403822deg);
  -ms-transform:rotate(-39.1313799403822deg);
  transform:rotate(-39.1313799403822deg);
}
#u4824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
