body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-78px;
  width:582px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:56px;
  width:582px;
  height:104px;
}
#u5669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:150px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:34px;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:380px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:50px;
  height:40px;
  display:flex;
}
#u5672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:34px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:34px;
  width:380px;
  height:40px;
  display:flex;
  text-align:left;
}
#u5674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:50px;
  height:30px;
  display:flex;
}
#u5675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:74px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:74px;
  width:380px;
  height:30px;
  display:flex;
  text-align:left;
}
#u5677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
