body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1482px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:771px;
}
#u3092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:771px;
  display:flex;
}
#u3092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3093_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:498px;
  height:31px;
}
#u3093 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:595px;
  width:482px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-57.7969059075297deg);
  -moz-transform:rotate(-57.7969059075297deg);
  -ms-transform:rotate(-57.7969059075297deg);
  transform:rotate(-57.7969059075297deg);
}
#u3093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3094 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:364px;
  width:121px;
  height:28px;
  display:flex;
}
#u3094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u3095 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:828px;
  width:253px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u3095 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3095_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:48px;
}
#u3096 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:804px;
  width:292px;
  height:48px;
  display:flex;
}
#u3096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:51px;
}
#u3097 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:852px;
  width:292px;
  height:51px;
  display:flex;
}
#u3097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:48px;
}
#u3098 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:804px;
  width:206px;
  height:48px;
  display:flex;
}
#u3098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:51px;
}
#u3099 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:852px;
  width:206px;
  height:51px;
  display:flex;
}
#u3099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:75px;
}
#u3100 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:903px;
  width:498px;
  height:75px;
  display:flex;
}
#u3100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:99px;
}
#u3101 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:804px;
  width:13px;
  height:99px;
  display:flex;
}
#u3101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:75px;
}
#u3102 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:903px;
  width:13px;
  height:75px;
  display:flex;
}
#u3102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  background:inherit;
  background-color:rgba(27, 179, 147, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3103 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:869px;
  width:68px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
