body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:896px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u74006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:896px;
  height:331px;
}
#u74007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
}
#u74007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:52px;
  display:flex;
}
#u74007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:52px;
}
#u74008 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:0px;
  width:248px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:52px;
}
#u74009 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:0px;
  width:399px;
  height:52px;
  display:flex;
}
#u74009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u74010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:249px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u74011 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:52px;
  width:248px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:40px;
}
#u74012 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:52px;
  width:399px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u74013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:249px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u74014 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:92px;
  width:248px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:40px;
}
#u74015 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:92px;
  width:399px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u74016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:249px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u74017 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:132px;
  width:248px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:40px;
}
#u74018 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:132px;
  width:399px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u74019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:249px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u74020 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:172px;
  width:248px;
  height:40px;
  display:flex;
}
#u74020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:40px;
}
#u74021 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:172px;
  width:399px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u74021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u74022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:249px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u74023 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:212px;
  width:248px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:40px;
}
#u74024 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:212px;
  width:399px;
  height:40px;
  display:flex;
  font-size:12px;
}
#u74024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u74025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:249px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u74026 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:252px;
  width:248px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:40px;
}
#u74027 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:252px;
  width:399px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
}
#u74028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:292px;
  width:249px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u74029 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:292px;
  width:248px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:40px;
}
#u74030 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:292px;
  width:399px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u74030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u74031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u74031 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u74031_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
