
#u49598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:47px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:47px;
  display:flex;
}
#u49600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#909399;
}
#u49601 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:78px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#909399;
}
#u49601 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1611px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:423px;
  width:1611px;
  height:48px;
  display:flex;
}
#u49604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u49605 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:439px;
  width:74px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u49605 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49607 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49608 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49609 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49610 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49611 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49612 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49613 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49614 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49615 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49616 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49617 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 233, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF8642;
}
#u49618 {
  border-width:0px;
  position:absolute;
  left:1492px;
  top:436px;
  width:65px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FF8642;
}
#u49618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u49620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u49621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u49621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:47px;
  display:flex;
}
.u49621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u49621_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:47px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u49621.mouseOver {
}
.u49621_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:47px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u49621.selected {
}
.u49621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u49622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
.u49622 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:100px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
.u49622 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u49622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u49623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
  text-align:center;
}
.u49623 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:16px;
  width:176px;
  height:20px;
  display:flex;
  color:#5E5E5E;
  text-align:center;
}
.u49623 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u49623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u49624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
  text-align:center;
}
.u49624 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:16px;
  width:176px;
  height:20px;
  display:flex;
  color:#5E5E5E;
  text-align:center;
}
.u49624 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u49624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u49625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
  text-align:center;
}
.u49625 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:16px;
  width:176px;
  height:20px;
  display:flex;
  color:#5E5E5E;
  text-align:center;
}
.u49625 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u49625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u49626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
  text-align:center;
}
.u49626 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:16px;
  width:176px;
  height:20px;
  display:flex;
  color:#5E5E5E;
  text-align:center;
}
.u49626 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u49626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u49627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
  text-align:center;
}
.u49627 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:16px;
  width:176px;
  height:20px;
  display:flex;
  color:#5E5E5E;
  text-align:center;
}
.u49627 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u49627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u49628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
  text-align:center;
}
.u49628 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:16px;
  width:176px;
  height:20px;
  display:flex;
  color:#5E5E5E;
  text-align:center;
}
.u49628 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u49628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49619-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:47px;
}
#u49619-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:1610px;
  height:47px;
}
#u49619-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:1610px;
  height:47px;
}
#u49619-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:1610px;
  height:47px;
}
#u49619-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:1610px;
  height:47px;
}
#u49619-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:235px;
  width:1610px;
  height:47px;
}
#u49619-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:282px;
  width:1610px;
  height:47px;
}
#u49619-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:329px;
  width:1610px;
  height:47px;
}
#u49619 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:47px;
  width:1610px;
  height:376px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u49629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 134, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u49629 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:9px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u49629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49629_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 134, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u49629.mouseOver {
}
#u49629_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 135, 63, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 134, 66, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u49629.selected {
}
#u49629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:inherit;
  background-color:rgba(48, 49, 51, 0.752941176470588);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49631 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:127px;
  width:154px;
  height:40px;
  display:flex;
  color:#FFFFFF;
}
#u49631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u49632 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:120px;
  width:11px;
  height:7px;
  display:flex;
}
#u49632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:1568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49635 {
  border-width:0px;
  position:absolute;
  left:1931px;
  top:55px;
  width:1043px;
  height:1568px;
  display:flex;
}
#u49635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u49636 {
  border-width:0px;
  position:absolute;
  left:1974px;
  top:96px;
  width:145px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u49636 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49636_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u49637 {
  border-width:0px;
  position:absolute;
  left:1974px;
  top:67px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u49637 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49637_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u49638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:18px;
}
#u49638 {
  border-width:0px;
  position:absolute;
  left:1974px;
  top:1409px;
  width:957px;
  height:180px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u49638 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:18px;
}
#u49639 {
  border-width:0px;
  position:absolute;
  left:1974px;
  top:130px;
  width:957px;
  height:63px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u49639 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#535353;
  line-height:18px;
}
#u49640 {
  border-width:0px;
  position:absolute;
  left:1974px;
  top:300px;
  width:957px;
  height:63px;
  display:flex;
  font-size:12px;
  color:#535353;
  line-height:18px;
}
#u49640 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:92px;
}
#u49641 {
  border-width:0px;
  position:absolute;
  left:1974px;
  top:193px;
  width:762px;
  height:92px;
  display:flex;
}
#u49641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:576px;
}
#u49642 {
  border-width:0px;
  position:absolute;
  left:1974px;
  top:373px;
  width:957px;
  height:576px;
  display:flex;
}
#u49642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:445px;
}
#u49643 {
  border-width:0px;
  position:absolute;
  left:1974px;
  top:949px;
  width:957px;
  height:445px;
  display:flex;
}
#u49643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFEFE;
}
#u49645 {
  border-width:0px;
  position:absolute;
  left:1931px;
  top:10px;
  width:212px;
  height:38px;
  display:flex;
  font-size:18px;
  color:#FFFEFE;
}
#u49645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFEFE;
}
#u49646 {
  border-width:0px;
  position:absolute;
  left:2156px;
  top:10px;
  width:212px;
  height:38px;
  display:flex;
  font-size:18px;
  color:#FFFEFE;
}
#u49646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
